extends layout

block content
	div(class='container-fluid', id='searchBarContainer')
		div(class='row align-items-center', id='searchBar')
			form(class='form-inline mx-auto', id='searchBarForm', method='get', action='')
				input(class='form-control mr-sm-2', id='searchField', type='search', name='term', placeHolder='Search', aria-label='Search')
				button(class='btn btn-outline-success my-2 my-sm-0', id='searchButton', type='submit') Search
	if results.length != 0
		div(class='container-fluid', id='searchResultContainer')
			div(class='row')
				div(class='col-6 ', id='videoDisplayDiv')
					div(class='row align-self-center justify-content-center', id='videoPlayer')
						video(controls, muted, src=results[0].video_url, id='video') Video
				div(class='col-6', id='resultDisplayDiv')
					div(class='row justify-content-md-center', id='sortButtons')
						button(type='button', class='btn btn-dark mx-sm-2 my-sm-2') Sort by Relevance
						button(type='button', class='btn btn-light mx-sm-2 my-sm-2') Sort by Timeline
					div(class='container-fluid', id='resultCards')
						each result in results
							div(class='card shadow-sm p-3 mb-5 bg-white rounded', style='width: 100%;')
								div(class='row no-gutters')
									div(class='col-4', id='image')
										img(class='img-fluid', src=result.url, alt='Card image left')
									div(class='col-8')
										div(class='card-block px-2')
											div(class='row', id='videoname-card-textrow')
												div(class='col-3') 
													div(class='right-aligned-title') Video:
												div(class='col-9')= result.filename
											div(class='row', id='time-card-textrow')
												div(class='col-3') 
													div(class='right-aligned-title') Time:
												div(class='col-9')= result.time
											div(class='row', id='caption-card-textrow')
												div(class='col-3') 
													div(class='right-aligned-title') Caption:
												div(class='col-9')= result.captions
											div(class='row', id='tags-card-textrow')
												div(class='col-3') 
													div(class='right-aligned-title') Tags:
												div(class='col-9')= result.tags
	script.
		$(function() {
			$('#sortByRelButton').on('click', function() {
				$('#sortByRelButton').class = 'btn btn-dark mx-sm-2 my-sm-2';
				$('#sortByTimeButton').class = 'btn btn-light mx-sm-2 my-sm-2';
				results.sort(function(a, b) {
					return a['@search.score'] > b['@search.score']? 1 : -1;
				});
				$('#resultCards').load('search.pug'+ ' #resultCards');
			});

			$('#sortByTimeButton').on('click', function() {
				$('#sortByRelButton').class = 'btn btn-light mx-sm-2 my-sm-2';
				$('#sortByTimeButton').class = 'btn btn-dark mx-sm-2 my-sm-2';
				results.sort(function(a, b) {
					return a.time> b.time? 1 : -1;
				});
				$('#resultCards').load('search.pug' + ' #resultCards');
				//- $('#resultCards').hide(1000);
			});
		});